*,
html {
    scroll-behavior: smooth;
}

body {
    background: #eee;
    margin: 0;
    background: url(../images/body-bg.png);
}

/* scrollbar styling */
:root {
    scrollbar-color: #4033ff !important;
    scrollbar-width: auto !important;
}

/*DEFAULT*/

a {
    text-decoration: none;
}

li {
    list-style: none;
    padding-bottom: 5px;
}


/* BUTTONS */

.hire-btn {
    padding: 14px 24px;
    margin-right: 1rem;
    box-shadow: 0px 3px 8px -3px rgba(1, 1, 1, 0.5);
    outline: none;
    border: 0;
    background: #2ECC71;
    border-radius: 25px;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    transition: 0.5s;
    font-family: 'Overpass', sans-serif;
}

.hire-btn:hover {
    background-color: #2196F3;
    text-decoration: none;
    color: #ffff;
}


/* Download CV btn */

.download-cv-btn {
    padding: 14px 24px;
    box-shadow: 0px 3px 8px -3px rgba(1, 1, 1, 0.5);
    outline: none;
    border: 0;
    background: #fff;
    border-radius: 25px;
    color: #4033ff;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    transition: 0.5s;
    font-family: 'Overpass', sans-serif;
}

.download-cv-btn:hover {
    background-color: #2196F3;
    text-decoration: none;
    color: #ffff;
}

.mail-section {
    margin-top: 4rem;
}

.mail-me {
    padding: 14px 24px;
    box-shadow: 0px 3px 8px -3px rgba(1, 1, 1, 0.5);
    outline: none;
    border: 0;
    background: #2ECC71;
    border-radius: 25px;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    transition: 0.5s;
    font-family: 'Overpass', sans-serif;
}

.mail-me:hover {
    background-color: #2196F3;
    text-decoration: none;
    color: #ffff;
}


/* END OF BUTTONS */


/* LANDING PAGE INLINE PHOTO */

.inline-photo {
    opacity: 0;
    transform: translateY(4em) rotateZ(-0deg);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(-0deg);
}

/*NAV-BAR*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.topnav {
    overflow: hidden;
    width: 90%;
    margin: auto;
    background-color: transparent;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 35px 18px;
    /* top | right | bottom | left  */
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
}

.topnav .logo {
    float: left;
    /* font-family: 'Fredoka One', cursive; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 30px 18px;
    font-size: 2.2em;
    cursor: pointer;
    text-decoration: none;
}

.active {
    color: gray;
}

.topnav .icon {
    display: none;
}

.topnav .icon:hover {
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    color: rgb(180, 205, 255);
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navbar {
    background-color: #fff;
    position: fixed;
    top: -60px;
    width: 100%;
    display: block;
    z-index: 9;
    box-shadow: 0px 6px 16px -6px rgba(1, 1, 1, 0.5);
    transition: top 0.5s ease-in-out;
}

#navbar a {
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 1rem;
    font-family: 'Overpass', sans-serif;
    /* font-family: 'Libre Franklin', sans-serif; */
}

#navbar .logo {
    float: left;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.slide-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.slide-menu .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


/* LANDING PAGE CONTENT */

.main {
    width: 100%;
    height: 100vh;
    background-image: url("../images/main-bg.webp");
    background-size: 100% 100%;
}

.main table {
    width: 100%;
    height: 100vh;
}

.main table td {
    width: 50%;
}

.main table td img {
    width: 70%;
    float: right;
    /*    height: 50%;
*/
    pointer-events: none;
    --delay: 0s;
    animation: arrows 4s var(--delay) infinite ease-in;
    margin-right: 5rem;
    padding-top: 3rem;
}

.main table td section {
    margin-left: 12%;
    color: #fff;
}

.main table td section .title {
    font-size: 4.5rem;
    font-family: 'Oswald', sans-serif;
}

.main table td section .sub-title {
    font-family: 'Overpass', sans-serif;
}

.main table td section .sub-title,
.main table td section p {
    color: rgb(180, 205, 255);
}

.main table td section p {
    margin-bottom: 4rem;
    font-size: 2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
}


/* Quote */

.quote {
    padding: 3rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    background-image: url(../images/price_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.quote-2 {
    padding: 0rem;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.author-quote {
    text-align: center;
    font-size: 2rem;
}

.author-quote-2 {
    text-align: center;
    font-size: 1.3rem;
}

.author {
    text-align: left;
    margin-left: 50%;
}


/*About*/

.about {
    padding: 5rem;
}

.about-me-text {
    font-family: 'Overpass', sans-serif;
    font-size: 17px;
}

.top-right-shape img {
    height: 40%;
    width: 30%;
    position: absolute;
    top: -150px;
    right: -150px;
}

.profile-img {
    width: 60%;
    height: 80%;
}

/* Footer social media icons */

.social-media-icons {
    padding: 2rem 0 2rem 0;
    text-align: center;
    /* top | right | bottom | left  */
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin-left: 0px;
    margin-right: 0rem;
}


.social-network a.icoTwitter:hover {
    background-color: #55acee;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb5;
}

.social-network a.icoGit:hover {
    background-color: #2b2929;
}

.social-network a.icoTwitter:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoGit:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    /* background-color:#33ccff; */
    background-color: #2196F3;
}

.social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: white;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}


/* End of Footer styling */
/* Services */

.intro {
    /* top | right | bottom | left */
    padding: 4rem;
}

.intro-text p {
    padding: 4rem;
}

.section-title {
    text-align: center;
    font-weight: 700;
    color: grey;
    letter-spacing: 3;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.section-title::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #2ECC71;
    bottom: 0;
    left: calc(50% - 20px);
}

.services-main img {
    width: 100%;
}

.services-section {
    height: 70vh;
}

.service-content {
    padding: 5rem;
}

.service-content h4 {
    font-family: 'Fira Sans Condensed', sans-serif;
    margin-bottom: 10px;
    font-weight: 700;
    color: grey;
}

.service-description {
    font-family: 'Overpass', sans-serif;
    font-size: 17px;
}

/* PROJECTS */

/* .projects {} */

#img-fluid {
    max-width: 100%;
    height: auto;
}

/* .project-display img {} */

/*Divs with left text and image on the right*/

.project-description {
    margin-right: -15%;
    padding: 2rem;
    border-radius: 4px;
    background: #e0e0e0;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 1;
    font-size: 17px;
}

.project-description-title {
    text-align: left;
    font-weight: 700;
    color: grey;
    font-family: 'Fira Sans Condensed', sans-serif;

}

.project-description-icons a {
    color: inherit;
}

.project-description-icons i {
    font-size: 20px;
    margin-top: 2rem;
    color: ;
}

.projects .row {
    padding: 6rem 0 6rem 0;
}

/*Divs with right text and image on the left*/
.project-description-category-b {
    text-align: right;
}

.project-description-b {
    margin-left: -15%;
    padding: 2rem;
    border-radius: 4px;
    background: #e0e0e0;
    letter-spacing: 1;
    font-size: 17px;
    font-family: 'Overpass', sans-serif;

}

.project-description-title-b {
    text-align: right;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 700;
    color: grey;
}

.project-description-icons-b {
    text-align: right;
}

.project-description-icons-b a {
    color: inherit;
}

.project-description-icons-b i {
    font-size: 20px;
    margin-top: 2rem;
}

.tech-stack {
    margin-right: 1rem;
}

.minor-project-card {
    margin: 2rem;
    padding: 3rem;
    border-radius: 4px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;

}

.project-description-title-minor {
    font-weight: 700;
    color: inherit;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.minor-project-card .header .bi-folder {
    font-size: 50px;
}

.minor-project-card .header span {
    font-size: 20px;
    text-decoration: none;
}


.minor-project-external-links a {
    text-decoration: none;
    color: inherit;
}

/* .minor-project-external-links a:hover {} */

.minor-project-text {
    font-family: 'Overpass', sans-serif;
    letter-spacing: 1;
    font-size: 17px;
}

.archive-link {
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

/*End of project showcase styling*/

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    position: relative;

    color: #444444;
    text-align: center;
    background: #ffff;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
    padding: 20px 0 30px 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.contact .icon-box::before {
    content: '';
    position: absolute;
    background: #cbe0fb;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
}

.contact .icon-box:hover::before {
    background: #106eea;
    top: 0;
    border-radius: 0px;
}

.contact .info-box i {
    font-size: 32px;
    color: #106eea;
    border-radius: 50%;
    padding: 8px;
    border: 2px solid #b3d1fa;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
    font-family: 'Fira Sans Condensed', sans-serif;

}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 17px;
    margin-bottom: 0;
    font-family: 'Overpass', sans-serif;

}


.contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
    padding: 30px;
    background: #fff;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
    margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #106eea;
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: #007bff;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #3b8af2;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #fff;
    padding: 0 0 10px 0;
    color: #444444;
    font-size: 16px;
    background: #f1f6fe;
    font-family: 'Overpass', sans-serif;

}

#footer {
    text-align: center;
}

#footer .container i {
    color: red;
}

.footer-images {
    margin-top: -6rem;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 15px;
    color: white;
    background: #2ECC71;
    border: 1px #fff;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    border-radius: 50%;
}

#back2Top:hover {
    color: #fff;
    background: #2196F3;
}

#back2Top i {
    font-size: 20px;
    margin-top: 2px;
}


@media screen and (max-width: 600px) {
    .hire-btn {
        margin-right: 1px;
    }

    .hire-btn,
    .download-cv-btn {
        padding: 14px 20px;
        font-size: 15px;
    }

    .topnav {
        background: #4033ff;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .topnav a {
        padding: 20px 18px;
        /* top | right | bottom | left  */

    }

    .topnav .logo {
        padding: 20px 18px;

    }

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

@media (max-width:600px) {
    #navbar {
        display: none;
    }

    @keyframes arrows {

        0%,
        100% {
            color: black;
            transform: translateY(0);
        }

        50% {
            color: #3AB493;
            transform: translateY(20px);
        }
    }

    @media (max-width:600px) {
        .main {
            margin-top: 4rem;
            padding-top: 2rem;
        }

        .main table td {
            width: 100%;
            display: block;
        }

        .main table td section {
            margin-top: 20%;
            margin: 5%;
        }

        .main table td section .title {
            font-size: 3rem;
            padding: 2rem 0 2rem 0;
        }

        .main table td section .sub-title {
            padding: 2rem 0 0 0;
        }

        .main table td section p {
            margin-bottom: 2rem;
            font-size: 2rem;
        }

        .main table td img {
            width: 60%;
            height: 60%;
            margin-top: 0%;
            margin-bottom: 2rem;
            pointer-events: none;
        }

        .author-quote {
            font-size: 1.5rem;
            margin-top: 4rem;
        }

        /* PROJECTS */

        /* Left text / image right*/
        /* .projects {}

        .project-display img {} */

        .project-description {
            margin-right: 0;
            background-color:transparent;
            padding: 0;
        }

        .project-description-title {
            text-align: left;
        }

        /* .project-description-icons i {} */

        .projects .row {
            padding: 1rem 0 1rem 0;
        }

        /* Section titles */

        .section-title {
            padding-top: 3rem;
        }

        /*Divs with right text and image on the left*/
        /* .project-description-category-b {} */

        .project-description-b {
            margin-left: 0;
            background-color: transparent;
            padding: 0;
        }

        .tech-stack {
            display: none;
        }

        /* .project-description-title-b {}

        .project-description-icons-b {}

        .project-description-icons-b i {} */

        /* minor projects*/
        .minor-project-card {
            margin: 5px 0 5px 0;
            padding: 3rem;
            border-radius: 0;
            background: #e0e0e0;
            box-shadow: 0;

        }

        .about {
            padding: 1.5rem;
        }

        .footer-text {
            margin-top: 5rem;
        }

    }

    @keyframes opaqTransition {
        3% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(0);
        }

        28% {
            transform: translateX(-700px);
        }

        100% {
            transform: translateX(-700px);
        }
    }

    @media (max-width:600px) {

        /* Services */
        .intro {
            /* top | right | bottom | left */
            padding: 2rem;
        }

        .intro-text p {
            padding: 2rem;
        }

        /* Services-main */
        .service-content {
            padding: 1rem;
        }

        .services-main img {
            height: 100%;
            width: 80vw;
        }

        /* Footer */
        /* Social media icons */
        .social-media-icons {
            text-align: center;
        }

        .service-content h4 {
            text-align: center;
        }
    }
}